<h1>Listing counters</h1>

<table>
  <tr>
    <th>Key</th>
    <th>Value</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @counters.each do |counter| %>
  <tr>
    <td><%= counter.key %></td>
    <td><%= counter.value %></td>
    <td><%= link_to 'Show', counter %></td>
    <td><%= link_to 'Edit', edit_counter_path(counter) %></td>
    <td><%= link_to 'Destroy', counter, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Counter', new_counter_path %>
